*{
    box-sizing: border-box;
}
.container-main-calculadora{
   background: hsl(0, 0%, 100%);
   width: 90%;
   margin: auto;
   min-width: 300px;
   padding: 20px;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
}

@media (min-width:400px) {
    .container-main-calculadora{
        flex-direction: row;
        gap: 40px;
    }
}