*{
    box-sizing: border-box;
}
.carousel{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    height: 300px;
    position: relative;
}
@media (width <= 530px) {
    .carousel{
        height: auto;
        
    }
}
 