*{
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    /* display: relative; */
}

main{
    gap: 30px;
    width: 100%;
    max-width: 700px;
    height: 100vh;
    margin: auto;
    border: 1px solid;
    background:#f4f4f4;
    overflow: hidden;
}

.centrar{
    display: flex;
    align-items: center;
    flex-direction: column;
}